@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

:root {
  --background: #352F44;
  --header: #2A2438;
  --accent: #5C5470;
  --text: #DBD8E3;

  --headerFont: 'Titan One', serif;
  --font: Helvetica, Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: var(--background);
  color: var(--text);
  font: 12px var(--font);
}

::-webkit-scrollbar {
  background: var(--background);
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--header);
  border: 4px solid var(--background);
  border-top: none;
  border-bottom: none;
}